{% extends "wms/base.html" %}

{% block content %}

<div class="sidebar">
    <h2>TwinSystems</h2>
    <ul>
        <li class="active">Dashboard</li>
        <li>Wallet</li>
        <li>Trade</li>
        <li>Statistics</li>
        <li>Notifications <span class="badge">5</span></li>
        <li>Exchange</li>
        <li>Support</li>
        <li>Account Settings</li>
        <li>Log Out</li>
    </ul>
</div>

<div class="main-content">
    <div class="header">
        <h1>Good Morning, <span class="highlight">Funcionario</span></h1>
    </div>
    
    <h2>Main Dashboard</h2>
    <div class="card-container">
        <div class="card green">BND-USD<br> $45,782.02<br> +1,253.08%</div>
        <div class="card red">BTC-USD<br> $35,425.04<br> -1,853.82%</div>
        <div class="card green">ETH-USD<br> $3,542.01<br> +3,415.0%</div>
    </div>
    
    <h2>Total Products</h2>
    <div class="chart-container">[Gráfico Aqui]</div>
    
    <h2>Produtos Recentes</h2>
    <div class="recent-products">
        <p><strong>Kevin McCoy</strong> - New Customer - 20min Ago - $120.00</p>
    </div>
</div>


{% endblock content %}




